*.cxx
*.so
*.so.*
*.a
*.cmake

Makefile
CMakeFiles
CMakeCache.txt
projectm/src/libprojectM/config.inp
projectm/src/libprojectM/libprojectM.pc
projectm/src/projectM-pulseaudio/projectM-pulseaudio
projectm/src/projectM-pulseaudio/ui_PulseDeviceChooserDialog.h
projectm/src/projectM-qt/application.qrc.depends
projectm/src/projectM-qt/libprojectM-qt.pc
projectm/src/projectM-qt/ui_qpreseteditordialog.h
projectm/src/projectM-qt/ui_qprojectm_mainwindow.h
projectm/src/projectM-qt/ui_qprojectmconfigdialog.h
projectm/src/projectM-test/projectM-test
projectm/src/projectM-test/projectM-test-memleak
projectm/src/projectM-test/projectM-test-texture
